
<footer class="py-5 custom-nav">
    <section class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Section 1</h3>
                <hr>
                <p class="footer-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Voluptate, aliquam iure. Dolorum sed saepe et ad architecto
                    sit voluptas ut voluptates! Adipisci iusto saepe rerum laboriosam
                    doloremque nam nulla voluptatibus mollitia debitis! Tenetur officia
                    sed aspernatur illum! Ullam, saepe totam nisi qui laboriosam vitae
                    assumenda ut perspiciatis quisquam autem pariatur, doloribus consequatur
                    suscipit! Laudantium, enim deleniti, fugiat eos itaque velit provident error iure
                    perspiciatis dicta tempora ducimus dolore sapiente eum rerum quidem nobis natus.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Section 2</h3>
                <hr>
                <p class="footer-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Voluptate, aliquam iure. Dolorum sed saepe et ad architecto
                    sit voluptas ut voluptates! Adipisci iusto saepe rerum laboriosam
                    doloremque nam nulla voluptatibus mollitia debitis! Tenetur officia
                    sed aspernatur illum! Ullam, saepe totam nisi qui laboriosam vitae
                    assumenda ut perspiciatis quisquam autem pariatur, doloribus consequatur
                    suscipit! Laudantium, enim deleniti, fugiat eos itaque velit provident error iure
                    perspiciatis dicta tempora ducimus dolore sapiente eum rerum quidem nobis natus.
                </p>
            </div>
            <div class="col-md-4 order-md-last order-first">
                <img class="w-100 h-100"
                    src="https://img.freepik.com/free-photo/reflection-lights-mountain-lake-captured-parco-ciani-lugano-switzerland_181624-24209.jpg?size=626&ext=jpg&ga=GA1.2.2134344809.1682051551&semt=ais"
                    alt="">
            </div>
        </div>
    </section>
</footer>