<div class="outter-div">
    <div class="m-5 py-5">
        <h2 class="heading text-center m-3 ">The web development framework for building the future</h2>
            <div class="row ">
                <div class="col-md-4 my-3">
                    <div class="card p-4 h-100">
                        <h4 class="card-heading text-color-info">WORKS AT ANY SCALE</h4>
                        <img src="https://angular.io/generated/images/marketing/home/any-size.svg" alt=""
                            class="card-img">
                        <p class="card-description">Angular lets you start small and supports you as your team
                            and apps grow.</p>
                        <a href="" class="card-link">Read how Angular helps you grow</a>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="card p-3 h-100">
                        <h4 class="card-heading text-color-info">LOVED BY MILLIONS</h4>
                        <img src="https://angular.io/generated/images/marketing/home/loved-by-millions.svg"
                            alt="" class="card-img">
                        <p class="card-description">Join the millions of developers building with Angular in a
                            thriving and friendly community.</p>
                        <a href="" class="card-link">Meet the Angular community</a>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="card p-3">
                        <h4 class="card-heading text-color-info">BUILD FOR EVERYONE</h4>
                        <img src="https://angular.io/generated/images/marketing/home/build-for-everyone.svg"
                            alt="" class="card-img">
                        <p class="card-description">Rely on Angular's internationalization tools, security, and
                            accessibility to build for everyone around the world.</p>
                        <a href="" class="card-link">Learn more about Angular's tools</a>
                    </div>
                </div>
            </div>
    </div>
</div>